<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEswKlAPw0sZwL6cCjtiSfHR21cYjY06w</string>
	<key>GCM_SENDER_ID</key>
	<string>910349130270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omaremad.erisSocialMedia</string>
	<key>PROJECT_ID</key>
	<string>eris-social-media</string>
	<key>STORAGE_BUCKET</key>
	<string>eris-social-media.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910349130270:ios:bb605a581a8adf66316c0f</string>
</dict>
</plist>